<p> We hereby acknowledge receipt of your appeal to the Compliance Panel with regards to the non-compliant decision rendered 
    on {{ conf.conferenceStatusDate:date('d/m/Y') }} regarding  the following conference: ref.EMT{{ conf.id }} - {{ conf.title }}
    from {{ conf.startConferenceDate|date('d/m/Y') }} to {{ conf.endConferenceDate|date('d/m/Y') }} 
    in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }} (herewith referred to as the “Conference”).  </p> 
<p> We will review the new information provided to us and issue a final decision via email within 72 hours upon date of reciept of this email.  </p> <br />
<p> Sincerely, <br />
    The Compliance Panel </p>
