<p>To whom it may concern,</p>
<p>With reference to the email dated {{ "now"|date("m/d/Y") }}
    related to the ref.EMT{{ conf.id }} - {{ conf.title }} on 
    {{ conf.startConferenceDate|date('d/m/Y') }} in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }},
    we are pleased to inform you that based on our assessment,
    we have determined that the conference is:
    <span style="color: #B400FF;text-decoration: underline;font-weight: bold;" >PROVISIONALLY COMPLIANT</span>.</p>
<p>This partial assessment decision will remain valid until 35 days prior to the conference starting date.
    The submitting party should provide to the Compliance Officer, via the online submission form,
    information on the missing criteria for a full assessment to be made.</p>
<p>Please note that:</p>
<p>a. In rendering this decision, we have relied on the documents and information which have been provided to us.
    We have not independently verified the accuracy of that information or of those documents nor have we
    determined whether they are up-to-date.</p>
<p>b. The overall conference scientific programme has been reviewed, but not its scientific content.</p>
<p>c. This decision does not take into account national and local laws, regulations or professional
    and company codes that may impose more stringent requirements upon Eucomed members,
    members of local associations, Healthcare professionals and/or conference organisers.
    (sometimes spelled with a Z in place of S – please ensure consistency)</p>
<p>d. The Eucomed Code of Ethical Business Practice requires Eucomed members to notify in
    writing each sponsored Healthcare Professional’s hospital administration,
    superior or locally designated competent authority with a full description of the purpose and scope of all sponsorship provided.
    It is up to each Eucomed member to comply with this transparency requirement.</p>
<p>You will be notified, via email, of the partial assessment decision.</p> <br />
<p>Sincerely,<br />
{{signature}}<br />
Compliance Officer</p>
