<p>To whom it may concern,</p>
<p>We refer to your partial submission dated {{ "now"|date("m/d/Y") }} related to the ref.EMT{{ conf.id }} - {{ conf.title }}
            on {{ conf.startConferenceDate|date('d/m/Y') }} in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }} 
            (herewith referred to as the “Conference”).
            We are pleased to inform you that following our assessment we have determined that the conference is:
            <span style="color: #B400FF;text-decoration: underline;font-weight: bold;" >PROVISIONALLY COMPLIANT</span>.</p>
<p>This partial assessment decision will remain valid until 35 days prior to the conference starting date.
    By that time, you should have provided to the Compliance Officer, via the same conference online form,
    information on the missing criteria for a full assessment to be made. If we do not receive such a submission,
    by the 35th  day deadline,  the conference will not be assessed and a non-assessment notice will be
    posted on our website: <a href="http://www.ethicalmedtech.eu">www.ethicalmedtech.eu</a>  .</p>
<p>Please note that:</p>
<p>a. In rendering this decision, we have relied on the documents and information which have been provided to us.
      We have not independently verified the accuracy of that information or of those documents nor have
    we determined whether they are up-to-date.</p>
<p>b. The overall conference scientific programme has been reviewed, but not for content.
    Therefore, we have not made a determination with regard to its scientific value.</p>
<p>c. This decision does not take into account national or local laws, regulations or professional
    or company codes that may impose more stringent requirements.</p>
<p>d. The Eucomed Code of Ethical Business Practice requires Eucomed members and members of national
    associations to notify in writing each sponsored Healthcare Professional’s hospital administration,
    superior or locally designated competent authority with a full description of the purpose and scope
    of all sponsorship provided. It is up to each Eucomed member and national association member to
    comply with this transparency requirement.</p> <br />
<p>Sincerely,<br />
{{signature}}<br />
Compliance Officer</p>
