<p> Dear {{ conf.user.fName }} {{ conf.user.lName }}, </p> 
<p> Please note that we have already received a submission for the {{ conf.title }}
    you submitted for assessment  on {{ conf.submissionDate|date('d/m/Y') }}. We have linked both records 
    and invite you to refer to the <a href="http://www.ethicalmedtech.eu">online calendar</a> 
    for the final decision regarding the conference.  </p> <br/>
<p> Sincerely,<br/>
    {{ signature }} </p>
