<p>To whom it may concern,</p>
<p>We refer to the submission relating to the ref.EMT{{ conf.id }} - {{ conf.title }}
    on {{ conf.startConferenceDate|date('d/m/Y') }} in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }} (the “Conference”). 
    You have requested that we provide you with our decision as to whether or not the Conference is compliant with 
    the Mecomed Code of Business Practice. We would like to inform you that in its current state, the conference has 
    <span style="text-decoration: underline;font-weight: bold;" >NOT BEEN ASSESSED.</span></p>
<p>The reason the conference has not been assessed is due to a lack of information upon 
    which the Compliance Officer can effectively base an assessment. You are invited 
    to re-submit the Conference for vetting through the 
    <a href="http://www.ethicalmedtech.eu/conference-vetting-system/objective" >online  Conference Vetting System</a>, 
    once you have collected detailed information on the Conference programme.<br />
    Such submission will be processed as a new conference submission.</p>
<p>For further information, please visit <a href="http://www.ethicalmedtech.eu">www.ethicalmedtech.eu</a></p>
<br />
<p>Sincerely,<br />
    {{ signature }}</p>
