<p>To whom it may concern,</p>
<p>We refer to the submission relating to ref.EMT{{ conf.id }} - {{ conf.title }} on {{ conf.startConferenceDate|date('d.m.Y') }}
    in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }} (the “Conference”).</p> 
<p>This is to inform you that following our assessment we have come to the provisional determination that the Conference is: 
    <span style="color: red;text-decoration: underline;font-weight: bold;" >NOT COMPLIANT</span> 
subject to the following:</p>
<p>- {{ conf.conferenceStatusText|raw }}</p>
<p>- Hospitality - Spouses, partners, family and guests may not participate to hospitality sessions (coffee breaks, meals)</p>
<p>In rendering this provisional determination, we have relied on the documents and information which have been provided to us.</p>
<p>a. We have not independently verified the accuracy of that information or of those documents nor have we determined whether they are up-to-date.</p>
<p>Please note that we allow a 10 calendar day window from the date of this letter for conference organizers to take corrective measures regarding 
    non-compliant matters relating to their conferences. In this regard, we invite you to send by email within that time period documentation which 
    clearly shows that appropriate corrective action has been taken to make the Conference compliant with the Mecomed Code of Business Practice.</p>
<p>If we do not receive that documentation by the end of business on {{ "now"|date_modify("+10 day")|date("d.m.Y") }}, 
    we will issue a final non-compliant decision for the Conference that will be posted on 
    <a href="http://www.ethicalmedtech.com">www.ethicalmedtech.com</a>.</p>
<p>Members of Eucomed and Mecomed may not sponsor or cover expenses of Healthcare Professionals to attend conferences organised 
    by medical societies, professional conference organisers or other third-parties in Egypt, Lebanon, Morocco, Saudi Arabia, 
    and UAE which have been determined as being not compliant with the Mecomed Code of Ethical Business Practice.</p>
<br />
<p>Sincerely,<br />
    {{ signature }}</p>