{% extends 'base.html.twig'  %}
{% trans_default_domain "OSSystemEMTBundle" %}

{% block nav %}
    {% include "OSSystemEMTBundle:Default:widgets/topmenu.html.twig" %}
{% endblock %}


{% block content %}

<h1>{{conference.title}}</h1>
    {% if conference.isPreclearance %}
        <h2>(preclearance)</h2>
    {% endif %}
    
    {% if conference.assesmentCountry.location == '' %}
        <h3>Due to a Eucomed Board decision, the assessment on conferences taking place outside Europe, Russia and Turkey have been suspended</h3>
    {% endif %}

<div class="inside-content">

<h4>Ref. EMT{{ conference.id }} - Submitted on {{ conference.submissionDate|date('d/m/Y') }}</h4>

    <div id="accordion" class="accordion">

        <div class="half-column">
                            <div class="box">
                    <h3><a href="#">Applicant</a></h3>

                    <div class="item">
                        <div class="title">Organisation name</div>
                        {% if conference.user.organization is not null %}
                            <div class="value">{{ conference.user.organization }}</div>
                        {% endif %}
                        {% if conference.user.organization is null %}
                            <div class="value">n/a</div>
                        {% endif %}
                    </div>
                    <div class="item">
                        <div class="title">Category</div>
                        <div class="value">{{ conference.user.category }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Address</div>
                        <div class="value">{{ conference.user.address }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Address 2</div>
                        <div class="value">{{ conference.user.address2 }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Postal code</div>
                        <div class="value">{{ conference.user.postalCode }}</div>
                    </div>
                    <div class="item">
                        <div class="title">City/Town</div>
                        <div class="value">{{ conference.user.city }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Country</div>
                        <div class="value">{{ conference.user.country }}</div>
                    </div>
                </div>
            
            <div class="box">
                <h3><a href="#">General details of the event</a></h3>

                <div class="item  {% if 'title' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Name of the event</div>
                    <div class="value">{{ conference.title }}</div>
                </div>
                <div class="item  {% if 'acronym' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Acronym of the event</div>
                    <div class="value">{{ conference.acronym }}</div>
                </div>
                <div class="item  {% if 'therapeuticArea' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Therapeutic area</div>
                    <div class="value">{{ conference.therapeuticArea }}</div>
                </div>
                <div class="item  {% if 'therapeuticAreaOther' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Therapeutic area (other)</div>
                    <div class="value">{{ conference.therapeuticAreaOther }}</div>
                </div>
                <div class="item  {% if 'startConferenceDate' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Start of event</div>
                    <div
                        class="value">{{ conference.startConferenceDate|date('d/m/Y') }}</div>
                </div>
                <div class="item  {% if 'endConferenceDate' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">End of event</div>
                    <div
                        class="value">{{ conference.endConferenceDate|date('d/m/Y') }}</div>
                </div>
                <div class="item  {% if 'organizingCompaniesNames' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Name of Conference Organizing Party(ies)</div>
                    <div class="value">{{ conference.organizingCompaniesNames }} </div>
                </div>
                <div class="item  {% if 'contactPersonsNames' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Name(s) of contact person(s)</div>
                    <div class="value">{{ conference.contactPersonsNames }}</div>
                </div>
                <div class="item  {% if 'organizingEmails' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Organiser’s e-mail address(s)</div>
                    <div class="value">{{ conference.organizingEmails }}</div>
                </div>
                <div class="item  {% if 'website' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Website of the event</div>
                    <div class="value"><a href="http://{{ conference.website }}"
                                          target="_new">{{ conference.website }}</a></div>
                </div>
            </div>

            <div class="box">
                <h3><a href="#">Appendix/links</a></h3>

                <div class="item  {% if 'eventProgramme' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Event programme</div>
                    <div class="value">
                            {{ conference.eventProgramme }}
                    </div>
                </div>
                    <div class="item">
                        <div class="title">Documents</div>
                        <div class="value">
                            <ol>
                                {% for doc in conference.documents %}
                                    <li>
                                        <a href="/{{ doc.webPath }}" target="_new" download>{{ doc.name }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                <div class="item">
                    <div class="title">Other comments</div>
                    <div class="value">{{ conference.comments|raw }}</div>
                </div>
            </div>
        </div>

        <div class="half-column">

                <div class="box">
                    <h3><a href="#">Contact details</a></h3>

                    <div class="item">
                        <div class="title">Title</div>
                        <div class="value">{{ conference.user.title }}</div>
                    </div>
                    <div class="item">
                        <div class="title">First name</div>
                        <div class="value">{{ conference.user.fName }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Last name</div>
                        <div class="value">{{ conference.user.lName }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Job title</div>
                        <div class="value">{{ conference.user.jobTitle }}</div>
                    </div>
                    <div class="item">
                        <div class="title">Telephone</div>
                        <div class="value">{{ conference.user.phone }}</div>
                    </div>
                    
                    <div class="item">
                        <div class="title">Email</div>
                        <div class="value">
                            {%if conference.user.alternativeEmail %}{{ conference.user.alternativeEmail }}{% else %}{{ conference.user.email }}{% endif %}
                        </div>
                    </div>
                </div>
            
            <div class="box">
                <h3><a href="#">Location</a></h3>

                <div class="item {% if 'assesmentNameVenue' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Name of venue</div>
                    <div class="value">{{ conference.assesmentNameVenue }}</div>
                </div>
                <div class="item  {% if 'assesmentCategoryVenue' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Category of venue</div>
                    <div class="value">{{ conference.assesmentCategoryVenue }}</div>
                </div>
                <div class="item  {% if 'assesmentCity' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">City/Town</div>
                    <div class="value">{{ conference.assesmentCity }}</div>
                </div>
                <div class="item  {% if 'assesmentCountry' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Country</div>
                    <div class="value">{{ conference.assesmentCountry }}</div>
                </div>
                <div class="item  {% if 'assesmentLocalNA' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Local national associations</div>
                    <div class="value">{{ conference.assesmentLocalNA }}</div>
                </div>
                <div class="item  {% if 'assesmentProposedAccomodationDocument' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Accomodation document</div>
                    <div class="value">
                        {% if conference.assesmentProposedAccomodationDocument %}
                            <a href="/{{ conference.assesmentProposedAccomodationDocument.webPath }}" target="_blank" download>Download the document</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="box">
                <h3><a href="#">Information on delegates / Sponsored Healthcare Professionals (HCPs)</a></h3>

                <div class="item  {% if 'delegatesMoreThan1Country' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Are HCPs / delegates coming from more than one country?</div>
                    <div class="value">
                        {% if conference.delegatesMoreThan1Country == 1 %}
                            Yes
                        {% elseif conference.delegatesMoreThan1Country == 2 %}
                        {% else %}
                            No
                        {% endif %}
                    </div>
                </div>
                <div class="item  {% if 'delegatesCountries' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Countries of origin of HCPs / delegates</div>
                    <div class="value">
                        <ul>
                        {% for country in  conference.delegatesCountries %}
                            <li>{{country}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="item  {% if 'delegatesAnticipate' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Number of HCPs / delegates</div>
                    {% if conference.delegatesAnticipate == 0 %}
                        <div class="value"> < 50 </div>
                    {% elseif conference.delegatesAnticipate == 1 %}
                        <div class="value"> 51 -200 </div>
                    {% elseif conference.delegatesAnticipate == 2 %}
                        <div class="value"> 201 - 500</div>
                    {% elseif conference.delegatesAnticipate == 3 %}
                        <div class="value"> 501 - 1000 </div>
                    {% elseif conference.delegatesAnticipate == 4 %}
                        <div class="value"> ≥ 1000 participants </div>
                    {% else %}
                        <div class="value"> - </div>
                    {% endif %}
                </div>
            </div>

            <div class="box">
                <h3><a href="#">Status</a></h3>

                <div class="item">
                    <div class="title">Status</div>
                    <div class="value conference-status-{% if conference.conferenceStatus == null %}0{% else %}{{ conference.conferenceStatus.id }}{% endif %}">{{ conference.conferenceStatus }}</div>
                </div>
                                <div class="item  {% if 'conferenceStatusText' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Status comment</div>
                    <div class="value conference-status-{% if conference.conferenceStatus == null %}0{% else %}{{ conference.conferenceStatus.id }}{% endif %}">{{ conference.conferenceStatusText|raw }}</div>
                </div>
                
                {% if conference.isPreclearance %}
                <div class="item  {% if 'autopublishing' in conference.changedFields %}field-changed{% endif %}">
                    <div class="title">Publish Pre-clearance</div>
                    <div class="value">{% if conference.autopublishing %}Yes{% else %}No{% endif %}</div>
                </div>
                {% endif %}

            </div>

        </div>

    </div>
                
    <div style="clear:both;"></div>       
    <a name="criteria"></a>
    <div class="box status-box">
        <h3><a href="#criteria">Assessed criteria</a></h3>
        {% if conference.isCORecommendation %}
            <h3>* as recommendation</h3>
        {% endif %}
        
        {% for criteria in conference.criterias %}
        <div class="item">
            <div class="title">{{criteria.criteria.title}}</div>
            <div class="value">
                <span class="strong criteria-state-{{criteria.status}}">{{criteria.criteria.statusAsText(criteria.status)}}</span>
            </div>
        </div>
        {% endfor %}
    </div>

        {% if form %}
            {% if user.profileType == 3 or user.profileType == 4 %}
        <div class="box status-box 123">
        <h3><a href="#criteria">Assessed criteria change</a></h3>
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% for criteria in conference.criterias %}
            <div class="item">
                <div class="title">{{criteria.criteria.title}}</div>
                <div class="value">
                    {% set fieldId = 'state_' ~ criteria.id %}
                    {{ form_widget(attribute(form, fieldId)) }}
                    {{ form_errors(attribute(form, fieldId)) }}
                </div>
                <div class="comment">
                    {% set fieldId = 'comment_' ~ criteria.id %}
                    {{ form_widget(attribute(form, fieldId)) }}
                    {{ form_errors(attribute(form, fieldId)) }}
                </div>
                <div class="document emt_upload_document">
                    {% if(null != criteria.document) %}
                        <a href="/uploads/documents/{{ criteria.document.path }}" target="_blank">{{ criteria.document.name }}</a><br>
                    {% endif %}
                    {% set fieldId = 'document_' ~ criteria.id %}
                    {{ form_widget(attribute(form, fieldId)) }}
                    {{ form_errors(attribute(form, fieldId)) }}
                </div>
                <br>
            </div>
        {% endfor %}
            
            <p style="text-align: center">
                <input type="submit" value="Update criterias state" class="button blue" style="float:none; display: inline-block"/>
            </p>
            {{ form_end(form) }}
        </div>
        {% endif %}
    {% endif %}
                
    <div style="margin-top: 10px;">
        {% if form %}
            {% if user.profileType == 3 or user.profileType == 4 %}
            <a href="{{ path("os_system_emt_conference_change_status", {"conferenceId": conference.id})}}" class="button blue">
              <span class="arrow">Status: <span class="conference-status-{% if conference.conferenceStatus == null %}0{% else %}{{ conference.conferenceStatus.id }}{% endif %}">{{ conference.conferenceStatus }}</span> - Change status </span>
            </a>

            {% if not conference.isPublished %}
                <a href="{{ path("os_system_emt_conference_publish", {"conferenceId": conference.id})}}" class="button red">
                    <span class="arrow">Publish conference</span>
                </a>
            {% else %}
                <a href="{{ path("os_system_emt_conference_unpublish", {"conferenceId": conference.id})}}" class="button red">
                    <span class="arrow">Unpublish conference</span>
                </a>
            {% endif %}

            {% if not conference.archive %}
                <a href="{{ path("os_system_emt_conference_archive", {"conferenceId": conference.id})}}" class="button blue">
                    <span class="arrow">Archive conference</span>
                </a>
            {% else %}
                <a href="{{ path("os_system_emt_conference_dearchive", {"conferenceId": conference.id})}}" class="button blue">
                    <span class="arrow">Dearchive conference</span>
                </a>
            {% endif %}

            <a href="{{ path("os_system_emt_conference_messages", {"conferenceId": conference.id})}}" class="button blue">
                <span class="arrow">Show Messages Board</span>
            </a>

            <a href="{{ path("os_system_emt_conference_vault", {"conferenceId": conference.id})}}" class="button blue">
                <span class="arrow">Document vault</span>
            </a>

            {% if conference.conferenceStatus is not null %}
                {% if conference.conferenceStatus.id in [20] and app.user.profileType in [3,4]  %}
                    <a href="{{ path("os_system_emt_conference_appeal", {"conferenceId": conference.id})}}" class="button blue">
                        <span class="arrow">Appeal Board</span>
                    </a>
                {% endif %}    
            {% endif %}

            <a href="{{ path("os_system_emt_conference_predoubleentry", {"conferenceId": conference.id})}}" class="button red">
                <span class="arrow">Declare as double entry</span>
            </a>

            {# Start Test PopUp #}
            <a href="javascript:PopUpShow({{ conference.id }})" class="button red">
                <span class="arrow">Delete</span>
            </a>

            <div class="emt-popup" id="delete-popup-{{ conference.id }}">
                <div class="emt-popup-content emt-popup-del-content">
                    Are you sure you want to delete conference?<br/>
                    <a href="{{ path("os_system_emt_conference_delete", {"conferenceId": conference.id})}}" class="button red">
                        <span class="arrow">Delete</span>
                    </a>
                    <a href="javascript:PopUpHide({{ conference.id }})" class="button blue">
                        <span class="arrow">Cancel</span>
                    </a>
                </div>
            </div>
            {# End Test PopUp #}
                
            <a href="{{ path("os_system_emt_conference_edit_officer", {"conferenceId": conference.id})}}" class="button green">
                <span class="arrow">Edit</span>
            </a>
            {% endif %}
        {% else %}
            {% if user.profileType == 3 or user.profileType == 4 %}
            <a href="{{ path("os_system_emt_conference_change_status", {"conferenceId": conference.id})}}" class="button blue">
                <span class="arrow">Status: <span class="conference-status-{% if conference.conferenceStatus == null %}0{% else %}{{ conference.conferenceStatus.id }}{% endif %}">{{ conference.conferenceStatus }}</span> - Change status </span>
            </a>

            {% if not conference.isPublished %}
                <a href="{{ path("os_system_emt_conference_publish", {"conferenceId": conference.id})}}" class="button red">
                    <span class="arrow">Publish conference</span>
                </a>
            {% else %}
                <a href="{{ path("os_system_emt_conference_unpublish", {"conferenceId": conference.id})}}" class="button red">
                    <span class="arrow">Unpublish conference</span>
                </a>
            {% endif %}

            {% if not conference.archive %}
                <a href="{{ path("os_system_emt_conference_archive", {"conferenceId": conference.id})}}" class="button blue">
                    <span class="arrow">Archive conference</span>
                </a>
            {% else %}
                <a href="{{ path("os_system_emt_conference_dearchive", {"conferenceId": conference.id})}}" class="button blue">
                    <span class="arrow">Dearchive conference</span>
                </a>
            {% endif %}
            
            {% if conference.conferenceStatus is not null %}
                {% if conference.conferenceStatus.id in [20] and app.user.profileType in [3,4]  %}
                    <a href="{{ path("os_system_emt_conference_appeal", {"conferenceId": conference.id})}}" class="button blue">
                        <span class="arrow">Appeal Board</span>
                    </a>
                {% endif %}    
            {% endif %}

            <a href="{{ path("os_system_emt_conference_predoubleentry", {"conferenceId": conference.id})}}" class="button red">
                <span class="arrow">Declare as double entry</span>
            </a>
                
            {# Start Test PopUp #}
            <a href="javascript:PopUpShow({{ conference.id }})" class="button red">
                <span class="arrow">Delete</span>
            </a>

            <div class="emt-popup" id="delete-popup-{{ conference.id }}">
                <div class="emt-popup-content emt-popup-del-content">
                    Are you sure you want to delete conference?<br/>
                    <a href="{{ path("os_system_emt_conference_delete", {"conferenceId": conference.id})}}" class="button red">
                        <span class="arrow">Delete</span>
                    </a>
                    <a href="javascript:PopUpHide({{ conference.id }})" class="button blue">
                        <span class="arrow">Cancel</span>
                    </a>
                </div>
            </div>
            {# End Test PopUp #}
            
            {% if conference.assesmentCountry is defined and conference.assesmentCountry != '' %}
                <a href="{{ path("os_system_emt_conference_messages", {"conferenceId": conference.id})}}" class="button blue">
                    <span class="arrow">Show Messages Board</span>
                </a>
                    
                <a href="{{ path("os_system_emt_conference_vault", {"conferenceId": conference.id})}}" class="button blue">
                    <span class="arrow">Document vault</span>
                </a>
                
                {% if conference.conferenceStatus is not null %}
                    {% if conference.conferenceStatus.id in [5,6,8,12,17,19,20] and app.user.profileType not in [3,4] %}
                        <a href="{{ path("os_system_emt_conference_appeal", {"conferenceId": conference.id})}}" class="button blue">
                            <span class="arrow">Appeal Board</span>
                        </a>
                    {% endif %}
                {% endif %}
            {% endif %}
            
            <a href="{{ path("os_system_emt_conference_edit_step1", {"conferenceId": conference.id, 'country': countryId})}}" class="button green">
                <span class="arrow">Edit</span>
            </a>
            {% endif %}
        {% endif %}

    </div>
    <div style="clear:both;"></div>
  
</div>

{% endblock %}
