{% extends 'base.html.twig'  %}
{% trans_default_domain "OSSystemEMTBundle" %}

{% block nav %}
    {% include "OSSystemEMTBundle:Default:widgets/topmenu.html.twig" %}
{% endblock %}

{% block content %}

<h1 class="clear">Conference information</h1>
    
<h2 class="clear">Duplicate Conference</h2>
<div class="clear"></div>

<div class="registration-form">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div style="clear"></div>
    
    <div class="content-box">
        <div class="form_row">
            <div class="question_field">
                {{ form_label(form.DoubleEntry) }}
                {{ form_widget(form.DoubleEntry) }}
                <div class="question_error">{{ form_errors(form.DoubleEntry) }}</div>
            </div>
        </div>
    </div>

    <input type="submit" value="Declare as double entry" />
    {{ form_end(form) }}
</div>

{% endblock %}