<p>To whom it may concern,</p>
<p>I refer to the submission relating to to the ref.EMT{{ conf.id }} - {{ conf.title }}
starting on {{ conf.startConferenceDate|date('d/m/Y') }} in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }} (the “Conference”). 
You have requested that we provide you with our decision as to whether or not the Conference 
is compliant with the Eucomed Code of Ethical Business Practice.</p>
<p>I would like to inform you that the current scope of the Conference Vetting System only covers
    cross border european and international conferces. National conferences will no be assessed at this stage.
    Therefore I have not assessed your submission and will not publish a decision on the EthicalMedTech platform 
    regarding the Conference.</p>
<p>Please note that in the future the Conference Vetting System may be expanded to include additional categories of conferences.</p>
<p>For further information, please visit <a href="http://www.ethicalmedtech.eu">www.ethicalmedtech.eu</a></p>
<br/>
<p>Sincerely,<br/>
{{ signature }}</p>
