<p>To whom it may concern,</p>
<p>With regards to our email dated {{ "now"|date("d.m.Y") }},
I am pleased to inform you that our assessment concluded that the ref.EMT{{ conf.id }} - {{ conf.title }} starting
on {{ conf.startConferenceDate|date('d.m.Y') }} in {{ conf.assesmentCity }}, {{ conf.assesmentCountry }} is:
 <span style="color: green;text-decoration: underline;font-weight: bold;" >COMPLIANT</span></p>
<p>a. In rendering this decision, we have relied on the documents and information which
    have been provided to us. We have not independently verified the accuracy of that information
    or of those documents nor have we determined whether they are up-to-date.</p>
<p>b. The overall conference scientific programme has been reviewed, but not its scientific content.</p>
<p>c. This decision does not take into account national or local laws, regulations or professional
    or company codes that may impose more stringent requirements. </p>
<p>d. The Eucomed Code of Ethical Business Practice requires Eucomed members to notify in writing
    each sponsored Healthcare Professional’s hospital administration, superior or locally designated
    competent authority with a full description of the purpose and scope of all sponsorship provided.
    It is up to each Eucomed member to comply with this transparency requirement.</p>
<p>This decision has been posted in the online <a href="http://www.ethicalmedtech.eu/">conference calendar</a>.</p><br />
<p>Sincerely,<br/>
{{ signature }}</p>