<p>To whom it may concern,</p>
<p>We refer to our correction notice sent to you via email on {{ conf.conferenceStatusDate|date('d/m/Y') }}
regarding the {{ conf.title }} in {{ conf.assesmentCity }}(the “Conference”). We would like to inform you that 
following our assessment we now confirm the decision that the Conference is: 
<span style="color: red;text-decoration: underline;font-weight: bold;" >NOT COMPLIANT</span>
with the Eucomed Code of Ethical Business Practice, subject to the following:</p>
<p>- {{ conf.conferenceStatusText|raw }}</p>
<p>- <strong>Hospitality</strong> - Spouses, partners, family and guests may not participate to hospitality sessions (coffee breaks, meals)</p>
<p>In rendering this decision, we have relied on the documents and information which have been provided to us. We have not independently
verified the accuracy of that information or of those documents nor have we determined whether they are up-to-date.</p>
<p>Please note that members of Eucomed and of national associations affiliated with Eucomed may not sponsor
or cover expenses of European Healthcare Professionals to attend conferences organised by medical societies,
professional conference organisers or other third-parties which have been determined as being not
compliant with the Eucomed Code of Ethical Business Practice.</p>
<p>This decision has been posted on <a href="http://www.ethicalmedtech.eu">www.ethicalmedtech.eu</a>. You have the possibility to
appeal this decision by sending an email to Mrs. Nancy Russotto, Chair of the Compliance Panel within a deadline of 10 days
for Regular Submissions and 5 days for Partial Submissions upon the date of receipt of this email.</p>
<br />
<p>Sincerely,<br/>
{{ signature }}</p>