<p>To whom it may concern,</p>
<p>We hereby inform you that a request for assessment of the following conference:
    ref.EMT{{ conf.id }} - {{ conf.title }} starting on {{ conf.startConferenceDate|date('d/m/Y') }} in {{ conf.assesmentCity }},
    {{ conf.assesmentCountry }} (the “Conference”), which we understand you are organising,
    has been submitted to us for a determination as to whether or not the
    Conference is compliant with the 
    <a href="https://mail.eucomed.be/owa/redir.aspx?C=b8a26ed6fc004c83ad66aa354c20b304&URL=http://www.eucomed.org/key-themes/ethics">
    Eucomed Code of Ethical Business Practice</a> (the “Eucomed Code”). </p>
<p>This determination will be made pursuant to the rules of  the <a href="Ethical Med Tech - Conference Vetting System - Notification of assessment">
        Conference Vetting System</a> under which members 
    of Eucomed and of national associations affiliated with Eucomed may not sponsor or cover expenses 
    of European Healthcare Professionals to attend educational conferences organised by medical societies, 
    professional conference organisers and other third parties unless the conference is in full compliance with 
    the Eucomed Code.</p>
<p>You will be notified, via email, of the assessment decision.</p>
<br/>
<p>Sincerely,<br/>
{{ signature }}</p>
