<p>Dear {{ conf.user.fName }} {{ conf.user.lName }},</p>
<p>We hereby acknowledge receipt of your Pre-Clearance request for the following conference: 
{{ conf.title }} from {{ conf.startConferenceDate|date('d/m/Y') }}  to {{ conf.endConferenceDate|date('d/m/Y') }}  in 
{{ conf.assesmentCity }}, {{ conf.assesmentCountry }} (herewith referred to as the “Conference”).<br />
Based on the review process explained on the <a href="http://www.ethicalmedtech.eu">www.ethicalmedtech.eu</a> platform, 
we will issue a decision to your request, via email,
within 30 calendar days.<br />
Please ensure that you use the following reference number: ref.EMT{{ conf.id }}, in all future communications regarding the Conference.<br />
Should any information be missing or insufficiently detailed, we will contact you prior to issuing our decision to you. <br /></p>
<br />
<p>Sincerely,<br />
{{signature}}<br />
Compliance Officer</p>
