Dear, {{ conf.user.fName }} {{ conf.user.lName }}<br/>
Please note that a new comment has been posted by the EthicalMedTech Compliance Officer with regards to the assessment of the conference EMT{{ conf.id }}-{{ conf.title }}.<br/>
Unless advised otherwise, please reply directly in the online form comment box as emails sent to this address are not monitored.<br/>
<p>Thank you,<br />
{{signature}}<br />
Compliance Officer</p>